<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :picture_comment %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :picture_name %>
  </div>

  <div class="field">
    <%= form.label :content_type %>
    <%= form.text_field :content_type, id: :picture_content_type %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data, id: :picture_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
