<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @picture.comment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @picture.content_type %>
</p>

<p>
  <strong>Data:</strong>
  <%= @picture.data %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
