<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @p.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @p.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @p.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @p.price %>
</p>

<%= link_to 'Edit', edit_p_path(@p) %> |
<%= link_to 'Back', ps_path %>
